#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    margin: 40px;
}
.row-grid{
    display: flex;
}
.cell {
    border: 1px black solid;
    width: 25px;
    height: 25px;
}
/* .hovered{
    background-color: aqua;
} */